*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: system-ui, -apple-system, sans-serif;
  color: #333333;
  margin: 20px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1{
  text-align: center;
  margin: 10px;
}

nav ul {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 10px;
}

a {
  color: steelblue;
}

h2 {
  background-color: steelblue;
  color: black;
  padding: 10px;
  text-align: center;
  margin: 30px, 0px;
}

ol, li {
  padding-left: 20px;
}